$color-primary: #d9a1c6;
$color-complimentary: #ad2e95;
// $color-primary:  #fec862;
// $color-complimentary: #47671c;
$color-hovered-primary: #f7d5f0;
$color-secondary: #fec862;
$color-bg-light: #EDDCE4;
$color-text: black;
$color-border: lightgray;
$color-hover: lightgray;
$color-light: white;

$content-width: 1160px;
