.advantages {
  background-image: url('../../../template/src/img/backgrounds/advantages-bg.png');
  background-size:cover;
  background-repeat: no-repeat;
}

.advantages__wrapper {
  padding: 30px;
 
}
