.article-preview {
    
    max-width: 32%;
    text-align: left;
    padding: 19px;
    border-radius: 20px;
    background: rgba(245, 229, 229, 0.25);
    box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12.5px);
    margin-bottom: 20px;
    &:hover{
        background: rgba(88, 64, 82, 0.25);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    }
}
.article-preview__image {
    width:fit-content
}
.article__title {
    color: #050002;
    text-align: left;
}

.article-text {
    color: #333333;
    @include font(1.4rem, 2.4rem)
}
.article__info {
    display: flex;
    justify-content: space-between;
    & >* {
        color: rgba(0, 0, 0, 0.45);
    }
}