.hero {
  background-image: url('../images/backgrounds/mainbg-1.png');
  background-size: cover;
  margin-bottom: 200px;
}

.hero__wrapper {
  
  padding: 120px 0 150px;
  
}

.hero__glass {
  border-radius: 16px;
  
  width: fit-content;
  

}

.hero__content {
  padding: 0 36px;
  max-width: 563px;
  text-align: left;
  
}

.hero__title {
  border-radius: 16px 16px 0 0;
  padding: 10px 40px;
  margin: 0;
  color: $color-bg-light;
  background: $color-complimentary;
  width: 100%;
}

.hero__text {
  @include font(2.4rem, 3.2rem, $weight: 700);
  color: $color-light;
  margin: 0;
  padding: 15px 0 30px;
}


.hero__tags_layout {
 gap:30px;
 padding: 50px 0 20px;
 
}
