.icon {
  display: inline-block;
}

.navigation__icon {
  width: 12px;
  height: 12px;
 
  background-image: url('../images/icons/navIcon.svg');
  margin-left: 5px;
}

.likes__icon {
  background-image: url('../images/icons/like.svg');
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: baseline;
}

.slider__icon {
  width: 14px;
  height: 44px;
  background-image: url('../images/icons/sliderarrow.svg');
}